* {
    box-sizing:border-box;
  }
  
.main{
    background-image: url("../images/BadBank2.jpg");
    background-size: cover;
    background-position: center center;
    height:100vh;
    width:100vw;
    position:relative;
    color:white;
    font-weight:bold;
    margin-top:1rem;
    
}
.fa-user{font-size:35px;
  text-decoration:none;
   margin-top:1rem;
   margin-left:3.5rem;
  }

.fa-user:hover{
  color:red;
  font-size: 40px;
  transition: all 0.3s ease-out;
  
}

.mainText{
margin-left:1rem;
margin-top:5rem;
}

.twomill, .easier{
  font-size:3.5rem;
  color:#ed2424;
}

.logocolor{
  color:#0079d5;
}
.logocolor2{
  color:#ed2424;
}

  .container {
    padding: 64px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  
  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
  }
  
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  
  .large-font {
    font-size: 48px;
  }
  
  .xlarge-font {
    font-size: 64px
  }
  
  .Link{
    border: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
    cursor: pointer;
    background-color:#0079d5;
    font-weight:bold;
    text-decoration:none;
    margin-top: 2rem;
  }


  img {
    display: block;
    height: auto;
    max-width: 100%;
    
    
  }
  
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
    .mainText{
      margin-left:-1rem;
    }
   .second, .third{
     margin-top:-10rem;
   }
  }

  